 @charset "uft_8";
 * {
     box-sizing: border-box;
 }
 
 body {
     background-color: whitesmoke;
     width: 100%;
     text-align: center;
     font-family: 'Source Code Pro', monospace;
     margin-bottom: 2em;
 }
 
 header {
     background: linear-gradient(#e66465, #9198e5);
     height: min-content;
 }
 
 h3 {
     margin-top: 1em;
 }
 
 .text1 {
     float: left;
 }
 
 .text1 img {
     float: left;
     border-radius: 50px;
 }
 
 .text1::after {
     content: "";
     display: table;
 }
 
 .textp {
     padding-top: 3em;
 }
 
 .text2 img {
     padding-bottom: 2em;
 }