@charset "uft_8";
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 2rem;
  color: #090909;
}

.header {
  background-image: linear-gradient(
    160deg,
    rgb(0, 147, 233) 0%,
    rgb(128, 208, 199) 100%
  );
  width: 100%;
  text-align: center;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#menu {
  display: flex;
  place-items: center;
  text-align: center;
}

.menu-left {
  width: 100%;
}

li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
  text-align: none;
  font-size: large;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding: 1.1rem;
}

.article .text{
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 2rem;
}

#menu a:hover {
  text-decoration: underline;
}

img {
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
  height: auto;
  float: left;
  margin: 10px;
}

.clearfix::after {
  content: "";
  display: table;
}

.text {
  margin-bottom: -15px;
}

.table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 80%;
  border-collapse:collapse;
  margin: 0 auto;
}

th {
  background-color: #0F9AE5;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


@media screen and (max-width: 670px) {
  #menu {
    font-style: oblique;
    text-align: center;
  }
  li {
    display: inline-block;
    margin-right: 20px;
    text-align: none;
    font-size: small;
  }
}

@media screen and (max-width: 450px) {
  #menu {
    text-align: center;
    float: left;
    padding: 0;
  }
  img {
    width: 60%;
  }
}
