@charset "uft_8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    background-image: url("../img/bgfood1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 55vh;
    display: grid;
    place-items: center;
}

.header-name {
    font-size: 8rem;
    font-weight: 400;
    color: #dd0808e8;
    border: 3px solid rgba(15, 10, 2, 0.863);
    padding: 4rem 8rem;
}

.section {
    position: relative;
    height: 150vh;
}

.section {
    position: relative;
}

.section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/bgfoood2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    z-index: -1;
}

.mini-bg {
    position: absolute;
}

.block {
    display: flex;
    padding: 0 3rem;
    justify-content: space-around;
}

.block-text {
    width: 30%;
}

.block-img {
    transform: translateY(-8rem);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.block-img:nth-child(1) {
    transform: translateY(-40%);
}

.block-img:nth-child(2) {
    transform: translateY(20%);
}

.block-text>p {
    color: rgb(184, 160, 160);
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.block-text>h3>span {
    display: block;
    padding-left: 2rem;
    line-height: 2rem;
}

.block1 {
    height: 70vh;
}

.block2 {
    height: 50vh;
}

.block-text>h3 {
    color: rgb(235, 182, 8);
    font-size: 4rem;
    font-weight: 400;
}

.mini-bg {
    top: 20%;
    left: 50%;
}

@media screen and (max-width: 1350px) {
    .block-text {
        width: 43%;
    }
}

@media screen and (max-width: 1000px) {
    .section {
        height: 200vh;
        display: grid;
        place-items: center;
    }
    .block {
        flex-direction: column;
        align-items: center;
    }
    .block-text {
        width: 70%;
    }
    .block-img:nth-child(1) {
        transform: translateY(0);
    }
    .block-img:nth-child(2) {
        transform: translateY(0);
    }
    .block2 {
        flex-direction: column-reverse;
    }
    .block1 {
        height: auto;
    }
    .block2 {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .header-name {
        font-size: 5rem;
        font-weight: 400;
        color: #fff;
        border: 2px solid #fff;
        padding: 2rem 4rem;
    }
    .section {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-text {
        width: 85%;
    }
    .block-text>h3 {
        font-size: 3rem;
        margin-top: 10px;
    }
    .block {
        padding: 2rem 0;
    }
    .block-img {
        width: 300px;
        height: 220px;
    }
}